//
   Created with JetBrains WebStorm.
   User: feng
   Date: 13-2-6
   Time: 下午5:14
   To change this template use File | Settings | File Templates.


extends ./add

block content
    div.row
        div.span10.offset1
            include b_edit_form


