//
   Created with JetBrains WebStorm.
   User: feng
   Date: 13-2-8
   Time: 下午9:33
   To change this template use File | Settings | File Templates.

extends layout

block content
    hr
    div.row
        404了，地址不对

